@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Тралалам</h1>
    <p class="lead">Импорт-замещенный сервис для составления списка дел</p>
    <p><a href="https://tralalam.azurewebsites.net/ToDoActModels" class="btn btn-default btn-lg">Начать пользоваться &raquo;</a></p>
</div>